<h3>{{titulo}}</h3>
<hr>

<form #formProducto="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-producto">

    <label for="">
        Nombre
        <span *ngIf="!nombre.valid && nombre.touched" class="label label-danger">El nombre es obligatorio</span>
    </label>
    <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="producto.nombre" class="form-control"  required>
   

    <label for="">
        Descripcion
        <span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger">La descripcion es obligatoria</span>
    </label>
    <textarea name="descripcion" #descripcion="ngModel" [(ngModel)]="producto.descripcion" class="form-control" required></textarea>

    <label for="">
        Precio
        <span *ngIf="!precio.valid && precio.touched" class="label label-danger">El precio no es correcto</span>
    </label>
    <input name="precio" #precio="ngModel" [(ngModel)]="producto.precio" type="text" class="form-control" required pattern="[0-9]+">
    <br>
    <div *ngIf="is_edit">
        <img src="http://localhost/curso-angular-backend/uploads/{{producto.imagen}}" width="200px">
    </div>
    <label for="">Imagen</label>
    <input type="file" class="form-control" (change)="fileChangeEvent($event)">
    <br>
    <input type="submit" value="{{titulo}}" class="btn btn-success" [disabled]="!formProducto.form.valid">
</form>